body{
    color: #0b1cda;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header
{
    background: #2ada0b;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
    color:white;
    font-weight: bold;
    margin:0;
    padding: 0.5em;
}

#header #tagline
{
    padding: 0 0 0 1em;
    box-shadow: 0px 5px 30px 0px rgb(56, 182, 39);
    font-weight: normal;
    font-size: 0.8em;
    

}

#header #tagline    
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8cm;

}

#container
{
    width: 70%;
    padding: 0;
    text-align: center;
    border: 1px solid #0f0e0e
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#post
{
  padding: 1em;  
}